
<nav>
   <a [href]="'/home'"><h1 [routerLink]="['/home']">Amanda Furnitures</h1></a>
</nav>

<div id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="box--sizing">
                        <div class="box-head">
                            <div class="row">
                                <div class="col-12">
                                    <p class="px-3">My Cart (1)</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="contact--box">
                            <h1>Delivery Address</h1>
                            <div class="row">
                                <div class="col-12">
                                    <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                                        <option selected>Select Country</option>
                                        <option value="" *ngFor="let item of getCountryList">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <input type="text" name="firstname" placeholder="First Name" [(ngModel)]="DeliveryFormResponse.firstname">
                                </div>
                                <div class="col-6">
                                    <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="DeliveryFormResponse.lastname">
                                </div>

                                <div class="col-8">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                                <div class="col-4">
                                    <input type="date" name="date" placeholder="Select Date">
                                </div>

                                <div class="col-4">
                                    <input type="text" name="pincode" placeholder="Pincode" [(ngModel)]="postofficeResponse.Pincode" (keyup)="pincodeForm(this.postofficeResponse.Pincode)">
                                </div>
                                <div class="col-4">
                                    <input type="text" name="state" placeholder="State" [(ngModel)]="postofficeResponse.State">
                                </div>
                                <div class="col-4">
                                    <input type="text" name="city" placeholder="City" [(ngModel)]="postofficeResponse.District">
                                </div>
                                <div class="col-6">
                                    <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                                        <option selected>Select Address</option>
                                        <option [value]="item.Name" *ngFor="let item of addressList">{{item.Name}}</option>
                                    </select>
                                    <!-- <input type="text" name="address" placeholder="Address" [(ngModel)]="postofficeResponse.Name"> -->
                                </div>
                                <div class="col-6">
                                    <input type="text" name="phone" placeholder="Phone" [(ngModel)]="DeliveryFormResponse.Phone">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="address" placeholder="Address" [(ngModel)]="DeliveryFormResponse.Address">
                                </div>

                                <div class="sumit--btn">
                                    <button class="botton">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="box--sizing">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

