
<section>
    <div id="main">
        <div class="login--sec">
            <div class="row m-0 h-100">
                <div class="col-xl-6 col-lg-6 d-none d-lg-block h-100 m-0 p-0">
                    <div class="login--inputs1">
                        <img class="img-fluid" src="assets/login-registration-img/1.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 h-100 m-0 p-0">
                    <div class="login--inputs2 ">
                        <img class="img-fluid" src="assets/login-registration-img/3.jpg" alt="">
                        <div class="inner--login-sec">
                            <h1>User Login!</h1>
                            <div class="">
                                <input type="email" placeholder="Please enter email" [(ngModel)]="loginRegistrationModel.email">
                            </div>
                            <div class="position-relative">
                                <input type="password" placeholder="Please confirm password" [type]="showPassword ? 'text' : 'password'" 
                                [(ngModel)]="loginRegistrationModel.password" (keyup.enter)="login()">
                                    <div class="show--pass--icon" (click)="showPass()">
                                        <span><i [class]="showPassword ? 'fa fa-eye passImg' : 'fa fa-eye-slash passImg'"></i></span>
                                    </div>
                            </div>
                            <button class="botton login-btn" (click)="login()">Login</button>
                            <h3>Don't have an account?<span [routerLink]="['/registration']">Register</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


