

<div id="main">
    <!-- dispatch
    shipping 
    warehouse
    out for delivery
    delivered -->

    <div class="container-fluid">
        <div class="wizard">
            <div class="row">
                <div class="col-7 p-0">
                    <div class="wizard-box">
                        <div class="color-line"></div>
                        <i class="fa-solid fa-check fa-xl"></i>
                        <i class="fa-solid fa-user fa-xl"></i>
                        <i class="fa-solid fa-truck-fast fa-xl"></i>
                        <i class="fa-solid fa-people-carry-box fa-xl"></i>
                    </div>
                </div>
    
                <div class="col-5 p-0">
                    <div class="wizard-box map-box">
                        <img src="https://i.pinimg.com/564x/96/ae/cf/96aecfdaa698704be1796c16d53d1eb4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


