


<div id="main">
    <div class="card--main">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Stock Status</th>
                    <th scope="col">Cart</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of wishlistList"> 
                    <th scope="row">
                        <div class="prod--name">
                            <img class="" src="{{item.image}}" alt="sofas">
                            <p>{{item.name}}</p>
                        </div>
                    </th>
                    <td>$ {{item.price}}</td>
                    <td>In Stock</td>
                    <td>
                        <button class="botton wish-btn-add" [ngClass]="{'hideBtn' : item.showHeartIcon==false}" 
                        [disabled]="item.showHeartIcon==false" (click)="addToCartData(item.id)">
                        {{item.showHeartIcon ? 'Add to cart' : 'Added to cart'}}</button>
                    </td>
                    <td><a role="button" (click)="removeItem(item.id)"><i class="fa-solid fa-trash-can fa-lg p-3"></i></a></td>
                </tr>
            </tbody>
        </table>

        <div class="empty-img--wrapper" *ngIf="wishlistList.length===0">
            <h1>Wishlist Is Empty</h1>
            <img class="empty-img" src="assets/wishlist/2.gif" alt="">
        </div>

        <div class="text-center">
            <button class="botton go--to--cart" (click)="goToCart()" *ngIf="wishlistList.length!==0">Go To Cart</button>
        </div>

    </div>
</div>


