<div id="main">
    <div class="container">
        <section class="cart--details--wrap">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="row">
                            <div class="col-3">
                               <h1 class="cart--head">
                                   Product
                               </h1>
                            </div>
                            <div class="col-3">
                                <h1 class="cart--head">
                                    Price
                                </h1>
                            </div>
                            <div class="col-3">
                                <h1 class="cart--head">
                                    Qty
                                </h1>
                            </div>
                            <div class="col-3">
                                <h1 class="cart--head">
                                    Total
                                </h1>
                            </div>
                        </div>
                        <div class="scrollbar">
                            <div class="box--by--seprete" *ngFor="let item of wishlistArrayStore">
                                <div type="button" class="modal--img--view--btn" (click)="removeCart(item.id)">
                                    <i class="fa-solid fa-circle-xmark fa-2xl"></i>
                                </div>
                                <div class="row">
                                    <div class="col-3 cart--img--blok">
                                        <img class="img-fluid" src="{{item.image}}" alt="">
                                        <p class="final--amount prod--name">{{item.name}}</p>
                                        <p>{{item.id}}</p>
                                        <!-- <p>Size: 3 Seats</p>
                                        <p>Color: Gold</p> -->
                                    </div>
                                    <div class="col-3 price--qty--total--box">
                                        <p class="final--amount">$ {{item.price}}</p>
                                    </div>
                                    <!-- <div class="col-3 price--qty--total--box qty--box">
                                        <div class="cart-sec-main">
                                            <div class="cart--main">
                                                <div class="decrees--btn" (click)="decreesCart(item.id)"><i
                                                        class="fa-solid fa-minus"></i></div>
                                                <input class="price--input" maxlength="4" type="text" value="0"
                                                    [(ngModel)]="addValue">
                                                <div class="increase--btn" (click)="increaseCart(item.id)"><i
                                                        class="fa-solid fa-plus"></i></div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-3 price--qty--total--box qty--box">
                                        <div class="cart-sec-main">
                                          <div class="cart--main">
                                            <div class="decrees--btn" (click)="decreesCart(item.id)"><i class="fa-solid fa-minus"></i></div>
                                            <input class="price--input" maxlength="4" type="text" [(ngModel)]="item.quantity" />
                                            <div class="increase--btn" (click)="increaseCart(item.id)"><i class="fa-solid fa-plus"></i></div>
                                          </div>
                                        </div>
                                      </div>
                                    <div class="col-3 price--qty--total--box">
                                        <div class="final--amount"><i
                                            class="fa-solid fa-dollar-sign me-1"></i>{{validationService.numberWithCommas(item.quantity*item.price)}}</div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
 
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 cart--head">Details</div>
                            <div class="details--box">
                                <p class="mb-2" style="font-size: 1.2rem;">Cart Total: <span>
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    {{validationService.numberWithCommas(totalCartAmount)}}
                                </span>
                                </p>
                                <p class="shiping-txt">Shipping & taxes calculated at checkout</p>
 
                                <div class="agree--term-con--box">
                                    <input class="form-check-input checkbox--box" type="checkbox" id="agree-tearms" value="agree-tearms" aria-label="Checkbox for following text input">
                                    <label class="shiping-txt" for="agree-tearms">I agree to <span>terms & conditions</span></label>
                                </div>

                                <button class="botton mt-4" [routerLink]="['/checkout']">Checkout <i class="fa-solid fa-bag-shopping ms-2"></i></button>

                                <img class="img-fluid" src="assets/cart/cart-right-bg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 
    </div>
</div>


