<div id="main">
    <div class="container">
        <section class="cart--details--wrap">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="row g-0">
                            <div class="col-3 cart--head">Product</div>
                            <div class="col-3 cart--head">Price</div>
                            <div class="col-3 cart--head">Qty</div>
                            <div class="col-3 cart--head">Total</div>
                        </div>
                        <div class="row g-0">
                            <div class="col-3 cart--img--blok">
                                <img class="img-fluid" src="assets/single-product-img/1.jpg" alt="">
                                <p class="final--amount">Sofa</p>
                                <p>#465456dsf5455</p>
                                <p>Size: 3 Seats</p>
                                <p>Color: Gold</p>
                            </div>
                            <div class="col-3 price--qty--total--box">
                                <p class="final--amount">$ 20000</p>
                            </div>
                            <div class="col-3 price--qty--total--box qty--box">
                                <div class="cart-sec-main">
                                    <div class="cart--main">
                                        <div class="decrees--btn" (click)="decreesCart()"><i
                                                class="fa-solid fa-minus"></i></div>
                                        <input class="price--input" maxlength="4" type="text" value="0"
                                            [(ngModel)]="addValue">
                                        <div class="increase--btn" (click)="increaseCart()"><i
                                                class="fa-solid fa-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 price--qty--total--box">
                                <div class="final--amount"><i
                                        class="fa-solid fa-dollar-sign me-1"></i>{{validationService.numberWithCommas(addValue*singleProductDetails.price)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
 
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 cart--head">Details</div>
                            <div class="details--box">
                                <p class="mb-2">Cart Total: <span>
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    {{validationService.numberWithCommas(addValue*singleProductDetails.price)}}
                                </span>
                                </p>
                                <p class="shiping-txt">Shipping & taxes calculated at checkout</p>
 
                                <div class="agree--term-con--box">
                                    <input class="form-check-input checkbox--box" type="checkbox" value="" aria-label="Checkbox for following text input">
                                    <label class="shiping-txt" for="">I agree to <span>terms & conditions</span></label>
                                </div>

                                <button class="botton mt-5">Checkout <i class="fa-solid fa-bag-shopping ms-2"></i></button>

                                <img class="img-fluid" src="assets/cart/cart-right-bg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 
    </div>
</div>