@import url("../../../shared/components/product-details/product-details.component.css");

#main {
    background-color: #fff;
}
.cart--details--wrap {
  padding: 50px;
  box-shadow: 0 0 1.25rem rgb(0 0 0 / 15%);
  border-radius: 12px;
}
p {
  margin: 0px;
}
h6 {
  margin: 50px;
}
.cart--main {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 100%;
}
.price--input {
  width: 100%;
  color: #000;
  margin: 0px 20px;
  text-align: center;
  font-size: 1.1rem;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  height: 35px;
}
.final--amount{
    font-size: 1.2rem;
}