#main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://plus.unsplash.com/premium_photo-1672883551967-ab11316526b4?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("https://plus.unsplash.com/premium_photo-1672883551968-dd15ceb7f802?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}
.cart--details--wrap {
  height: 90vh;
  width: 100%;
  padding: 30px 30px;
  box-shadow: 0 0 1.25rem rgb(0 0 0 / 15%);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  color: #683e22;
  font-weight: 500;
  background-color: #fff;
}
p {
  margin: 0px;
}
h6 {
  margin: 0px;
}
.cart--main {
  /* height: 38px;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 100%; */

  height: 32px;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  border-radius: 5px;
  width: 80%;
}
.price--input {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #000;
  text-align: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  font-size: 0.92rem;
  font-weight: 500;
  border-bottom: none;
}
.decrees--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.increase--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.decrees--btn:hover {
  color: #8c6348;
  cursor: pointer;
}
.increase--btn:hover {
  color: #8c6348;
  cursor: pointer;
}
.cart--img--blok {
  text-align: center;
}
.cart--img--blok p {
  font-size: 0.85rem;
  text-align: start;
}
.cart--img--blok strong {
  text-align: start;
}
.cart--head {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.price--qty--total--box {
  text-align: center;
  margin-top: 55px;
}
.qty--box {
  margin-top: 52px;
}
.final--amount {
  font-size: 1.1rem;
  font-weight: 600;
}
.cart--img--blok img {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}
.details--box {
  padding: 20px 25px;
  border: 2px solid #8c6348;
  border-radius: 8px;
}
.details--box p {
  font-size: 1.2rem;
  font-weight: 600;
}
.details--box span {
  margin-left: 5px;
}
.details--box .shiping-txt {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}
.agree--term-con--box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 7px;
}
.checkbox--box {
  margin: auto 0px;
  margin-right: 10px;
  border: 2px solid #683e22;
}
.form-check-input:checked {
  background-color: #683e22;
}
.shiping-txt span {
  font-family: "Parisienne", cursive;
  font-size: 1.3rem;
  font-weight: 600;
}
.details--box button {
  border: 2px solid #683e22;
  color: #fff;
  background-color: #683e22;
  padding: 8px 20px;
  font-size: 0.95rem;
}
.details--box img {
  margin-top: 5px;
}
.prod--name {
  font-size: 1.2rem !important;
}
.scrollbar {
  overflow-y: scroll;
  height: 530px;
  scrollbar-width: thin;
}
.box--by--seprete {
  position: relative;
  padding: 20px 25px;
  box-shadow: 0 0 1.25rem rgb(0 0 0 / 15%);
  border-radius: 8px;
  margin: 20px 0px;
  margin-right: 8px;
}
.cart-sec-main {
  display: flex;
  justify-content: center;
}
