#main {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1653242370332-e332a8103763?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-items: center;
  align-items: center;
}
h1 {
  font-size: 3.5rem;
  color: #000;
}
button {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid;
  padding: 10px 50px;
}
